body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #E0D7D3;
    font-family: "Open Sans", sans-serif;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px; 
}

.card h1, .card h2 {
    margin-bottom: 20px;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dados input {
    width: 100%;          
    height: 45px;         
    padding: 0 10px;      
    font-size: 16px;      
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: width 0.3s ease;
}

.dados input:focus {
    border-color: #4CAF50;
}

/* Botão */
.dados button {
    height: 45px;
    background: #8e8e8e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.dados button:hover {
    background: #505050;
}
